<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel = "tests">

  <test name = "BrowserStack-Edge">
  
  <parameter name="os" value="Windows" />
   <parameter name="osversion" value="10" />
    <parameter name="browserName" value="Edge" />
    <parameter name="browserVersion" value="103" />
  <classes>  
  
  <class name="com.emailAutomation.BrowserStack"/>
  
  </classes>
  </test>
  
   <test name = "BrowserStack-chrome">
  <parameter name="os" value="Windows" />
   <parameter name="osversion" value="10" />
    <parameter name="browserName" value="Chrome" />
    <parameter name="browserVersion" value="102" />
    
    <classes>  
  
  <class name="com.emailAutomation.BrowserStack"/>
  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
